@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --neutral-200: 229, 229, 229;
  --neutral-900: 23, 23, 23;
  --purple-500: 168, 85, 247;
}

input {
  color-scheme: dark;
}

body {
  color: rgb(var(--neutral-200));
  background: rgb(var(--neutral-900));
  
}

*::selection {
  background: rgb(var(--neutral-200));
  color: rgb(var(--neutral-900));
}
*::-moz-selection {
  background: rgb(var(--neutral-200));
  color: rgb(var(--neutral-900));
}
*::-webkit-selection {
  background: rgb(var(--neutral-200));
  color: rgb(var(--neutral-900));
}