@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --neutral-200: 229, 229, 229;
  --neutral-950: 10, 10, 10;
}

body {
  color: rgb(var(--neutral-200));
  background: rgb(var(--neutral-950));
}
